In [3]:
import pandas as pd

In [16]:
df_books = pd.read_csv("bestsellers-with-categories.csv",sep=",",header=0,names=['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'])
#Levanto archivo .csv solo tengo que indicarle la ruta, delimitador, si tiene o no header y poner o cambiar el nombre de las columnas

In [5]:
pd.read_json("HPCharactersDataRaw.json",typ="Series") #Levanto un arhivo .json. Con typ me lo levanta en formato llave-valor

0       {'Name': 'Mrs. Abbott', 'Link': 'https://www.h...
1       {'Name': 'Hannah Abbott', 'Link': 'https://www...
2       {'Name': 'Abel Treetops', 'Link': 'https://www...
3       {'Name': 'Euan Abercrombie', 'Link': 'https://...
4       {'Name': 'Aberforth Dumbledore', 'Link': 'http...
                              ...
1935    {'Name': 'Georgi Zdravko', 'Link': 'https://ww...
1936    {'Name': 'Zograf', 'Link': 'https://www.hp-lex...
1937    {'Name': 'Zonko', 'Link': 'https://www.hp-lexi...
1938    {'Name': 'Valentina Vázquez', 'Link': 'https:/...
1939    {'Name': 'Zygmunt Budge', 'Link': 'https://www...
Length: 1940, dtype: object

In [22]:
df_michelin = pd.read_csv("michelin_my_maps.csv")

In [23]:
df_michelin

,Name,Address,Location,MinPrice,MaxPrice,Currency,Cuisine,Longitude,Latitude,PhoneNumber,Url,WebsiteUrl,Award,FacilitiesAndServices
0,Le Palais,"17F, Palais de Chine Hotel, 3, Section 1, Chen...",Taipei,"6,000","6,000",TWD,Cantonese,121.516960,25.049071,8.862218e+11,https://guide.michelin.com/en/taipei-region/ta...,https://www.palaisdechinehotel.com/en/index.php,3 MICHELIN Stars,"Air conditioning,American Express credit card,..."
1,Les Amis,"Shaw Centre, #01-16, 1 Scotts Road, 228208, Si...",Singapore,225,460,SGD,French,103.832040,1.306260,6.567332e+09,https://guide.michelin.com/en/singapore-region...,https://www.lesamis.com.sg/,3 MICHELIN Stars,"Air conditioning,American Express credit card,..."
2,Odette,"National Gallery, #01-04, 1 St. Andrew's Road ...",Singapore,298,428,SGD,French Contemporary,103.851600,1.289646,6.563850e+09,https://guide.michelin.com/en/singapore-region...,http://www.odetterestaurant.com,3 MICHELIN Stars,"Air conditioning,American Express credit card,..."
3,Zén,"41 Bukit Pasoh Road, 089855, Singapore",Singapore,580,580,SGD,European Contemporary,103.840420,1.279627,6.592366e+09,https://guide.michelin.com/en/singapore-region...,http://www.restaurantzen.com,3 MICHELIN Stars,"Air conditioning,American Express credit card,..."
4,Maaemo,"Dronning Eufemias gate 23, Oslo, 0194, Norway",Oslo,"3,500","3,500",NOK,"Modern Cuisine, Creative",10.758636,59.907529,4.722180e+09,https://guide.michelin.com/en/oslo-region/oslo...,http://www.maaemo.no,3 MICHELIN Stars,"Air conditioning,American Express credit card,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6581,Szóstka,"Plac Powstańców Warszawy 9, Warsaw, 00 039, Po...",Warsaw,291,359,PLN,"Polish, Modern Cuisine",21.012698,52.235803,4.822470e+10,https://guide.michelin.com/en/masovia/warsaw/r...,https://warszawa.hotel.com.pl/hotel-warszawa,Bib Gourmand,"Air conditioning,American Express credit card,..."
6582,Fiorentina,"ul. Grodzka 63, Cracow, 31 044, Poland",Cracow,175,290,PLN,"Creative, Polish",19.938179,50.055898,4.812426e+10,https://guide.michelin.com/en/lesser-poland/cr...,https://fiorentina.com.pl/,Bib Gourmand,"Air conditioning,American Express credit card,..."
6583,Zazie,"ul. Józefa 34, Cracow, 32 056, Poland",Cracow,41,113,PLN,French,19.946949,50.051240,4.850041e+10,https://guide.michelin.com/en/lesser-poland/cr...,http://www.zaziebistro.pl/,Bib Gourmand,"Air conditioning,Booking essential - dinner,Cr..."
6584,Butchery & Wine,"ul. Żurawia 22, Warsaw, 00 515, Poland",Warsaw,235,235,PLN,"Meats and Grills, Traditional Cuisine",21.015495,52.228581,4.822502e+10,https://guide.michelin.com/en/masovia/warsaw/r...,https://www.butcheryandwine.pl/,Bib Gourmand,"American Express credit card,Booking essential..."
6585,alewino,"ul. Mokotowska 48, Warsaw, 00 543, Poland",Warsaw,156,156,PLN,"Polish, Traditional Cuisine",21.022057,52.225201,4.822628e+10,https://guide.michelin.com/en/masovia/warsaw/r...,http://www.alewino.pl/,Bib Gourmand,"Air conditioning,American Express credit card,..."

In [6]:
df_books[0:4] #Me trae los primeros 4 registros

,Namesssss,Authorrrrrr,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction

In [17]:
df_books[["Name","Author","Year"]] #Filtro por las columnas Name, Author and Year

,Name,Author,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,2016
1,11/22/63: A Novel,Stephen King,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,2018
3,1984 (Signet Classics),George Orwell,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,2019
...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,2019
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,2016
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,2017
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,2018
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,2019

Loc

In [14]:
df_books.loc[:] #Filtro por Label

,Namesssss,Authorrrrrr,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [19]:
df_books.loc[0:4,["Name","Author"]] #Me trae desde la posicion 0 a la 4 inclusive y solo las columnas que le pido

                                                Name                    Author
0                      10-Day Green Smoothie Cleanse                  JJ Smith
1                                  11/22/63: A Novel              Stephen King
2            12 Rules for Life: An Antidote to Chaos        Jordan B. Peterson
3                             1984 (Signet Classics)             George Orwell
4  5,000 Awesome Facts (About Everything!) (Natio...  National Geographic Kids

In [21]:
df_books.loc[:,["Reviews"]] * -1 #Me trae todos los registros para la columna Reviews y multiplico por -1

     Reviews
0     -17350
1      -2052
2     -18979
3     -21424
4      -7665
..       ...
545    -9413
546   -14331
547   -14331
548   -14331
549   -14331

[550 rows x 1 columns]

In [22]:
df_books.loc[:,["Author"]] == "JJ Smith" #Me trae todos los registros pero me indica quienes cumplen la condicion

     Author
0      True
1     False
2     False
3     False
4     False
..      ...
545   False
546   False
547   False
548   False
549   False

[550 rows x 1 columns]

## Iloc

In [23]:
df_books.iloc[:] #Filtra mediante indices

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [24]:
df_books.iloc[:,0:3] #Me filtra las columnas y me trae todos los registros

,Name,Author,User Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7
1,11/22/63: A Novel,Stephen King,4.6
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7
3,1984 (Signet Classics),George Orwell,4.7
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8
...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7

In [28]:
df_books.iloc[1,3] * - 1#Me trae el valor que hay en la fila 1 columna 3 y lo multiplica por -1

-2052

In [27]:
df_books.iloc[:2,2:]#Me trae los primeros 2 registros y las columnas de las 2 en adelante

   User Rating  Reviews  Price  Year        Genre
0          4.7    17350      8  2016  Non Fiction
1          4.6     2052     22  2011      Fiction